<div class="panel panel-default" style="font-size: 1.4em; line-height: 1.5em; padding: 2em">
<div class="panel-body">
Esta es una plataforma de monitoreo parlamentario para Argentina, es decir que permite conocer información personal sobre <a href="congresistas">diputados y senadores</a> nacionales, sus actividades en la cámara, tales como 
<a href="proyectos/busquedas">los proyectos de ley</a> que presentaron y las votaciones que emitieron.
<br/>
Adicionalmente permite <a href="comunicaciones">enviar mensajes públicos a legisladores</a>.

<br/><br/>
Congreso Interactivo es un proyecto colectivo que se ha hecho con el apoyo de muchas personas a lo largo de los años. Especialmente nos han apoyado: Fundación Ciudadano Inteligente (Chile), Grupo de Investigación-Acción Sinapsis (UTN), Fundación Directorio Legislativo, Hacks/Hackers Buenos Aires y Knight-Mozilla OpenNews.
</div>
</div>
