%div
  %div.container

    = form_tag(t('routes.searches'), :method => 'get', :class => "form-inline") do
      %div.input-group
        %input.form-control{:class => "search-box", :type => "text", :name => 'q', :placeholder => t("main.search_placeholder")}
        %span.input-group-btn
          %button{:type => "submit", :class => "search-btn"}

      - if !ENV['billit_url'].blank?
        %div.checkbox
          %label
            %input{:type => 'checkbox', :name => 'bills', :value => '1', :checked=>true}
            = t('main.filter_bills')

      - if !ENV['popit_url'].blank? and !ENV['popit_persons'].blank? and !ENV['popit_search'].blank? and !ENV['popit_organizations'].blank? and !ENV['popit_organizations_search'].blank?
        %div.checkbox
          %label
            %input{:type => 'checkbox', :name => 'congressmen', :value => '2', :checked=>true}
            = t('main.filter_congressmen')
