/* Place all the styles related to the Glossaries controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com */

.palabra{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCC;
}

.pagination > li > a:hover  {
  background-color: #F4A458;
  color: #FFF;
}

.botonMenuGlosario {
  float: right;
  margin-top: -30px;
}

.colorNaranjo {
  color: #F4A458;
}
