.proyectos,
.legisladores {
    padding: 50px 0;
}

.legisladores {
    background-color: #4A90E2;
    color: #FFF;
}

.legisladores .title,
.proyectos .title {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}

.legisladores .copy,
.proyectos .copy {
    font-size: 28px;
    line-height: 40px;
    font-family: sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}

.legisladores .low-chamber,
.legisladores .high-chamber {
    padding-left: 140px;
    position: relative;
}

.legisladores .low-chamber:before,
.legisladores .high-chamber:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 5px;
    width: 110px;
    height: 95px;
}

.legisladores .low-chamber:before {
    background: url('low-chamber-icon.png') center top no-repeat;
    background-size: contain;
}

.legisladores .high-chamber:before {
    background: url('high-chamber-icon.png') center top no-repeat;
    background-size: contain;
}

.legisladores .low-chamber .number,
.legisladores .high-chamber .number {
    font-size: 42px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
    line-height: 1;
}

.legisladores .low-chamber .copy,
.legisladores .high-chamber .copy {
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 0;
}

.proyectos .number {
    font-size: 70px;
    font-family: sans-serif;
    font-weight: bold;
    color: #F27A21;
}

.proyectos .number span {
    font-size: 24px;
    font-weight: normal;
}

.proyectos .ci-btn {
    float: right;
    margin-top: 40px;
}

/* ---- para mover a un archivo general ---- */
.ci-btn {
    color: #FFF;
    background-color: #F27A21;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #A44600;
}