%div.container
  %div
    %ol.breadcrumb
      %li
        = link_to t('layout.home'), root_path
      %li
        Textos 
        = #todo: localize

  %div.page-header
    %h2
      Textos
      = #todo: localize

  %ul
    - if @pads
      - @pads.each do | pad |
        %li
          %a{:href => "/textos/"+pad[:id] }
            = pad[:id]
    - else
      - render "texts/show"

